---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/common/NavBar.astro";
import Heading from "../components/index/Heading.astro";
import ExperienceBanner from "../components/index/ExperienceBanner.astro";
---

<Layout>
  <div class="w-full h-full flex flex-col items-center justify-center">
    <NavBar />
    <Heading />
    <ExperienceBanner />
  </div></Layout
>
