<div class="w-full h-fit flex flex-col gap-2 standard-width standard-x-padding">
  <h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl"
  >
    Rohit Raj
  </h1>
  <p class="text-lg font-normal lg:text-xl">
    Solving real-world problems, with code.
  </p>
</div>
